<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cn.zhangl.MtFragmentCount"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:name=".model.MtApplication"
        android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.MtMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.MtService" android:enabled="true" android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest> 
